{% extends 'base.html' %} {% block title %}{{pro.product_name}} 
{% endblock title %} 
<!---xxxx--->
{% block content %}

<div class="container mt-5" style="position: relative; top: 100px">
  <div class="row">
    <div class="col-md-4">
      <div class="row mb-5">
        <img
          src="{{pro.product_img}}"
          alt=""
          style="height: 300px; width: 233px"
        />
      </div>
        <a href="#" class="btn btn-dark mx-3">Buy now</a>
        <a href="#" class="btn btn-dark">Add to cart</a>
    </div>

      <div class="col-md-8">
        <h1>{{pro.product_name}}</h1>
        <h5>Rs. {{pro.price}}</h5>
        <p>{{pro.desc|safe}}</p>
    </div>
  </div>
</div>


<div class="container mb-5 mt-5" style="position: relative; top: 100px">
  <h3 class="text-center">Recommend Products</h3>
  <hr class="w-50 mx-auto mb-5 mt-5" />

  <div id="recentlyadded" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-group col">
          {% for i in recpro%}
          <div class="card p-3">
            <img
              src="{{i.product_img}}"
              class="card-img-top"
              alt="product image"
            />
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text">{{i.product_name}}</p>
              <button id="product{{i.id}}" class="btn btn-dark cart">
                Add to cart
              </button>
              <a href="/{{i.id}}" class="btn btn-outline-primary">View product</a>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and not forloop.last %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">{% endif %} {% endfor %}</div>
      </div>
    </div>
    <a
      class="carousel-control-prev bt"
      type="button"
      data-bs-target="#recentlyadded"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a
      class="carousel-control-next bt"
      type="button"
      data-bs-target="#recentlyadded"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


  {% endblock content %}
